<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('templates', path='styles.css') }}">
    <title>Title</title>
</head>
<body>
{% include 'macros/header.html' %}

<div class="login-form">
    <h2>Вход</h2>
    <form action="/login" method="POST">
        <!-- Email -->
        <label>Email:
            <input name="email" required>
        </label><br>
        <label>Пароль:
            <input name="password" required>
        </label><br>
        <input type="submit" value="Войти в аккаунт"><br>
    </form>
    <a href="/recover">Забыли пароль?</a><br>
    <a href="/register">Регистрация</a><br>
</div>
{% include 'macros/footer.html' %}

</body>
</html>