<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="registration-form">
    <h2>Register</h2>
    <!--заполнить action-->
    <form action="/register" method="POST">
        <!-- Email -->
        <label>Email:
            <input name="email" required>
        </label><br>
        <!-- Password -->
        <label>Пароль:
            <input name="password">
        </label><br>
        <label>Повторите пароль:
            <input name="repeat_password">
        </label><br>
        <label>Контактный телефон:
            <input name="phone">
        </label><br>
        <label>Как к Вам обращаться?
            <input name="name">
        </label><br>
        <!-- Submit Button -->
        <input type="submit" value="Зарегистрироваться"><br>
        <a href="login.html">Уже есть аккаунт?</a>
    </form>
</div>

</body>
</html>
</body>
</html>