<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('templates', path='styles.css') }}">
    <title>Главная</title>
<body style="background-color: mediumpurple;
             color: white;">
<nav style="text-align: center">
    <p>
        <a href="">API</a>
        <a href="">Тарифы</a>
        <a href="">Оплата и возврат</a>
        <a href="">FAQ</a>
        <a href="">Контакты</a>
        <a href="">Вход</a>
        <a href="">Регистрация</a>
    </p>
</nav>


<!-- something for article in articles + pagination -->
<div class="article">{{ article.name }}</div>
<div class="article">{{ article.description }}</div>
<div class="article">{{ article.category }}</div>
<div class="article">{{ article.added_at }}</div>

<nav style="text-align: center">
    <p>
        <a href="">API</a>
        <a href="">Оплата и возврат</a>
        <a href="">FAQ</a>
        <a href="">Контакты</a>
    </p>
</nav>
</body>
</html></title>
</head>
<body>

</body>
</html>