<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('templates', path='styles.css') }}">
</head>
<body>
{% include 'macros/header.html' %}

<h1>FAQ</h1>
<div>
  <section>
    <img src="" alt="Image1" width="200" height="200"
     style="display:none;">
    <p>Название раздела</p>
    <p>Описание раздела</p>
  </section>

  <section>
    <img src="" alt="Image1" width="200" height="200"
     style="display:none;">
    <p>Название раздела</p>
    <p>Описание раздела</p>
  </section>

  <section>
    <img src="" alt="Image1" width="200" height="200"
     style="display:none;">
    <p>Название раздела</p>
    <p>Описание раздела</p>
  </section>
</div>

{% include 'macros/footer.html' %}


</body>
</html>