<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('templates', path='styles.css') }}">
    <title>Главная</title>
</head>
<body>
{% include 'macros/header.html' %}
<h1>О сервисе</h1>
<div style="text-align: left">
    <img src="" alt="Image1" width="200" height="200"
         style="display:none;">
    <p>Функция</p>
    <p>Описание функции</p>
</div>

<div style="text-align: right">
    <img src="" alt="Empty image" width="200" height="200" style="display:none;">
    <p>Функция</p>
    <p>Описание функции</p>
</div>

<div>
    <H2>Наши преимущества</H2>
    <table>
        <tr>
        <td>Наличие интернет ресурса дает возможность развивать бизнес за пределами своего географического положения и получить новых клиентов не только в своем регионе, а если вы того захотите то и за ее пределами.
        </td>
        <td>Электронный каталог ваших товаров и услуг в каждом доме, доступен 24 часа в сутки, 7 дней в неделю, 365 дней в году.
        </td>
        <td>Наличие интернет ресурса дает возможность развивать бизнес за пределами своего географического положения и получить новых клиентов не только в своем регионе, а если вы того захотите то и за ее пределами.
        </td>
        </tr>

        <tr>
        <td>Товар ваших конкурентов может быть хуже или дороже, чем ваш, но более популярный лишь потому, что у них есть интернет ресурс.
        </td>
        <td>Наличие интернет ресурса дает возможность развивать бизнес за пределами своего географического положения и получить новых клиентов не только в своем регионе, а если вы того захотите то и за ее пределами.
        </td>
        <td>Наличие интернет ресурса дает возможность развивать бизнес за пределами своего географического положения и получить новых клиентов не только в своем регионе, а если вы того захотите то и за ее пределами.
        </td>
        </tr>
    </table>
</div>

{% include 'macros/footer.html' %}
</body>
</html>