<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="{{ url_for('templates', path='styles.css') }}">
    <title>Главная</title>
</head>
<body>

{% include 'macros/header.html' %}


<h1>Политика оплаты и возврата</h1>
<div>
  <p>Оплата</p>
  <p>Оплата производится онлайн</p>

  <p>Безналичный расчет</p>
  <p>Для безналичного расчёта нужно связываться по электронной почте</p>

  <p>Банковские карты</p>
  <p>Текст, в котором указана информация об электронных деньгах и банковских сервисах</p>

  <p>Вопросы по оплате</p>
  <p>Текст, в котором указана информация о том, что делать, если возникли вопросы по оплате;</p>

  <p>Возврат</p>
  <p>
    В случае, если пользователь считает качество работы Сервиса неудовлетворительным, он может аннулировать свой аккаунт. Если аннулирование произошло в течение 3-х с момента оплаты подписки и при условии получения не более чем 50 отчетов в системе - мы гарантируем полный возврат денежных средств. Для аннулирования аккаунта необходимо отправить письмо на адрес example@gmail.com с указанием своего логина и описанием ситуации. Возврат средств возможен только на те же реквизиты, с которых средства были перечислены в качестве оплаты. Удостоверьтесь, что вы ознакомились с Пользовательским соглашением.
  </p>
</div>

{% include 'macros/footer.html' %}

</body>
</html>