<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="login-form">
    <h2>Вход</h2>
    <form action="/login" method="POST">
        <!-- Email -->
        <label>Email:
            <input name="email" required>
        </label><br>
        <label>Пароль:
            <input name="password" required>
        </label><br>
        <input type="submit" value="Войти в аккаунт"><br>
    </form>
    <a href="/recover">Забыли пароль?</a><br>
    <a href="/register">Регистрация</a><br>
</div>

</body>
</html>