<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('templates', path='styles.css') }}">
    <title>Title</title>
</head>

<body>
{% include 'macros/header.html' %}

<div class="recover-form">
    <h2>Восстановление пароля</h2>
    <form action="/auth/reset_password" method="POST">
        <label>Пароль:
            <input name="password" required>
        </label><br>
        <label>Повторите пароль:
            <input name="repeat_password" required>
        </label><br>
        <input type="submit" value="Сменить пароль"><br>
    </form>
</div>
    <a href="/register">Регистрация</a><br>
    <a href="/login">Уже есть аккаунт?</a>
{% include 'macros/footer.html' %}

</body>

</html>
